.layout{
  width: 65%;
  margin: auto;
  text-align: left;
}

#cartButton, #productsBtn{
  margin: 5px;
}

#emptyCart{
  text-align: center;
}

#headline{
  padding-top: 5px;
  padding-left: 15px;
  text-align: center;
}